@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-dot: #e9ecef;
    --bg-dot-secondary: #d6d6d6;
}

html {
    height: 100%;
}

body {
    height: 100%;

    background: var(--bg-dot);
    background-image: radial-gradient(var(--bg-dot-secondary) 1px, transparent 0);
    background-size: 30px 30px;

    margin: 0px;
    padding: 15px;    

    font-family: "Inter";
}


#compilation-output embed {
    width: 100%;
}

svg.typst-doc {
    background-color: white;
}

